<a class="btn btn-primary" role="button" asp-controller="OAuth" asp-action="Login">Login</a>
<br/>
<br/>
<a class="btn btn-primary" role="button" asp-controller="OAuth" asp-action="LoginWithTokenExchange">Login with token exchange</a>